/* 7-segment font */
@font-face {
  font-family: "Seven Segment";
  font-style: normal;
  font-weight: normal;
  src: local("Seven Segment"),
    url("/assets/fonts/SevenSegment.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #000000;
  display: flex;
  justify-content: center;
  min-height: 90vh;
}

.container {
  align-items: center;
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 12px 16px;
}

.top {
  display: flex;
  gap: 40px;
}

.day-container {
  display: flex;
  gap: 12px;
}

.day-container > p {
  color: #696969;
  font-family: monospace;
  font-weight: 800;
  font-size: 1.2rem;
}

.date-container {
  display: flex;
}

.date-container > p {
  color: #ff0000;
  font-family: "Seven Segment";
  font-size: 2rem;
}

.clock-container {
  display: flex;
}

.clock-container > p {
  color: #ff0000;
  font-family: "Seven Segment";
  font-size: 6rem;
}

.red {
  color: #ff0000;
}
